$color-yellow = #FFD707
$color-white = #ffffff
$color-black-0 = #000000
$color-black-3 = #333333
$color-black-6 = #666666
$color-black-7 = #707070
$color-black-9 = #999999
$color-gray-e = #eeeeee
$color-gray-c = #cccccc
$small-font = -2px


.font-size-12 {
    font-size 12px
}

.font-size-14 {
    font-size 14px
}

.font-size-16 {
    font-size 16px
}

.font-size-18 {
    font-size 18px
}

.font-size-20 {
    font-size 20px
}

.font-size-22 {
    font-size 22px
}

.color-yellow {
    color $color-yellow
}

.color-white {
    color $color-white
}

.color-black-0 {
    color $color-black-0
}

.color-black-3 {
    color $color-black-3
}

.color-black-6 {
    color $color-black-6
}

.color-black-7 {
    color: $color-black-7
}

.color-black-9 {
    color $color-black-9
}

.color-gray-e {
    color $color-gray-e
}

.color-gray-c {
    color $color-gray-c
}

.font-bold {
    font-weight bold
}
